{% extends "layouts/base.njk" %}

{% block body %}
    <h1>{{title}}</h1>
    <p><a href="/index.html">Client Demo</a> Client side demo</p>
    <p><a href="/server">Server Demo</a> Server side demo</p>
    <p><a href="/documentation">API documentation</a></p>
{% endblock %}
